<fieldset>
  <legend>Edit you profile</legend>

  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <%= form.text_field :name, :class=>'span6' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <%= form.text_field :email, :class=>'span6' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="location">Location</label>
    <div class="controls">
      <%= form.text_field :location, :class=>'span6' %>
      <!--p class="help-block">A Title for this job</p-->
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="tags">Tags</label>
    <div class="controls">
      <%= text_field_tag :tags, current_user.tags.join(','), :class=>'span6' %>
      <!--p class="help-block">A Title for this job</p-->
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="telephone">Telephone</label>
    <div class="controls">
      <%= form.text_field :telephone, :class=>'span6' %>
      <!--p class="help-block">A Title for this job</p-->
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="twitter_handle">Twitter Handle</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= form.text_field :twitter_handle, :class=>'span6' %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="website">Website</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">http://</span>
        <%= form.text_field :website, :class=>'span6' %>
      </div>
    </div>
  </div>


</fieldset>