<% provide :page_name, "My Jobs" %>
<% provide :page_desc, "List of Jobs you have created" %>
<% provide :title, "Jobs" %>

<div class="row">

  <div class="span3">
    <%= render 'shared/dashboard_nav' %>
  </div>

  <div class="span9">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Salary</th>
          <th>Location</th>
          <th># Applicants</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to truncate(job.title || 'none'), job %></td>
            <td><%= truncate job.company_name %></td>
            <td><%= "$#{job.salary}#{"/hr" if job.is_hourly}" %></td>
            <td><%= job.location %></td>
            <td><%= link_to job.job_applications.still_valid.count, index_for_job_my_job_application_index_path(job) %></td>
            <td>
              <%= link_to '<i class="icon-remove"></i>'.html_safe, [:my, job], :method => :delete,
                :confirm => 'Remove this job?', :rel => 'tooltip', :title => "Remove this job"  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>