<% provide :page_name, "Create a Job" %>
<% provide :page_desc, "A job is a position you are offering in your company" %>
<% provide :title, "New Job" %>

<% provide :crumbs, crumb_trail({
    'My' =>  nil,
    'Jobs' => jobs_path,
    'Create' => [:new, :job]
  }) %>

<%= form_for @job, :url => [:my, @job] do |f| %>
  <%= render 'shared/form_errors', :f => f %>

  <%= render f %>

  <div class="actions">
    <%= form_create_button f %>
    <%= link_to 'Cancel', :back, :class => "btn" %>
  </div>

<% end %>